body {
    background: #888888;
    width: '960px';
}

logo {
    background: #000000;
    position: fixed;
    top:0;
    left: 150px;
    z-index: 2;
    width: 183px;
    height: 56px;
    text-align: center;
    line-height: 250%;
    color: #bec5bf;
    font-family: 'Poiret One', 'Opens Sans', Roboto, Raleway, Lobster;
    font-size: 16pt;
}
nav {
    position: fixed;
    top:0;
    background: #ffffff;
    z-index: 1;
    width: 100%;
    height: 56px;
    text-align: right;
    font-family: 'Poiret One', 'Opens Sans', Roboto, Raleway, Lobster;
    border-bottom: 1px solid #cccccc;

}
a {
    padding:10px;
    line-height: 300%;
}
a:link {
    color: #000000;
}
a:visited {
    color:#777777;
}
#middle {
    border-left: 1px solid #cccccc;
}
#right {
    margin-right:100px;
    border-left: 1px solid #cccccc;
}
section {
    background-image: url("http://www.xponentialdesign.com/img/projectImg/ART-DECO-BG-11.gif");
    background-repeat: repeat;
    position: relative;
    top: 36px;
    width: 100%;
    height: 100%;
}
.main {
    background-color:#999999;
    width: 960px;
    margin:0px 150px 0px 150px;
}
#HW-Highwire {
    position: relative;
    top: 40px;
    left: -610px;
    z-index: 1;
    height: 150px;
    width: 300px;
}
#proPort {
    position: relative;
    top: -130px;
    left: 30px;
    z-index: 1;
    height: 150px;
    width: 300px;
}
#scratch {
    position: relative;
    top: 40px;
    left: -614px;
    z-index: 1;
    height: 150px;
    width: 300px;
}
#coming1 {
    position: relative;
    top: 40px;
    left: -610px;
    z-index: 1;
    height: 150px;
    width: 300px;
}
#coming2 {
    position: relative;
    top: -130px;
    left: 30px;
    z-index: 1;
    height: 150px;
    width: 300px;
}
#coming3 {
    position: relative;
    top: 40px;
    left: -614px;
    z-index: 1;
    height: 150px;
    width: 300px;
}
h1{
    margin:0px 75px 0px 75px;
    padding-top: 50px;
    padding-bottom: 25px;
    width: 810px;
    color: #3b44449f;
    font-family: 'Poiret One', 'Opens Sans', Roboto, Raleway, Lobster;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}
.img-left {
    float:left;
    background-size: 20px;
    margin: 20px;
}
p {
    text-indent: 50px;
    margin:0px 75px 0px 75px;
    padding-top: 50px;
    width: 810px;
    line-height: 200%;
    color: #333333;
    font-family: 'Poiret One', 'Opens Sans', Roboto, Raleway, Lobster;
    background-color:#aaaaaa;
}
h4 {
    position: relative;
    top: 125px;
    left: 30px;
    z-index: 2;
    float: left;
    background:#333333;
    border: 0;
    margin: 10px;
    padding-top: 5px;
    width: 300px;
    height: 35px;
    text-align: center;
    line-height: 200%;
    color: #ffffff;
    font-family: 'Poiret One', 'Opens Sans', Roboto, Raleway, Lobster;
    font-size: 14pt;
    font-weight: 50;
    

}
form {
    margin:0px 75px 0px 75px;
    padding-top: 25px;
    width: 810px;
    line-height: 200%;
    color: #777777;
    background-color: #ffffff;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4aaaa5;
    color: #ccc;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    height: 20px;
    width: 100%;
    padding-top: 20px;
    color:#cccccc;
    background-color:#666666;
    text-align: center;
    border-top: 3px solid #ffffff;
}